<h1>Ideas:</h1>
<% @ideas.reverse_each do |idea| %>
  Created At: <%= time_ago_in_words(idea.created_at) %></br>
  Title:  <%= idea.title %></br>
  Body:  <%= truncate(idea.body, length: 103, separator: ' ') %></br>
  Quality:  <%= idea.quality %></br>
  <%= button_to "Delete", idea, method: :delete %>
  </br>
<% end %>
<h2>Make a New Idea:</h2>
<%= render partial: "ideas/form", locals: {idea: @idea} %>
